fastapi>=0.100.0
uvicorn==0.25.0
python-dotenv>=1.0.1
pymongo==4.6.3
pydantic>=2.6.4
email-validator>=2.2.0
argon2-cffi>=25.1.0
passlib>=1.7.4
tzdata>=2024.2
motor==3.3.1
python-jose>=3.3.0
requests>=2.31.0
python-multipart>=0.0.9
sqlalchemy>=2.0.0
razorpay>=1.4.0
websockets>=12.0
pytest>=8.0.0
pytest-asyncio>=0.23.5
a2wsgi>=1.0.8
firebase-functions>=0.1.0
firebase-admin>=6.2.0
slowapi>=0.1.9
google-generativeai>=0.5.0
